{% extends 'main/base.html' %}

{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}">
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var svgElements = document.getElementsByName('icon');

      svgElements.forEach(function(div) {
          var svg = div.querySelector('svg');
          svg.classList.remove('svg-scaled-circle');
          svg.classList.add('svg-scaled-complete');
      });
  });
</script>
{% endblock %}

{% block title %}
Decision Chess
{% endblock %}

{% block side_head_content %}
    <a id="IntroLink" href="#Introduction" style="font-size: 0.95rem;">Introduction</a>
{% endblock %}

{% block content %}
<div id="content" name="content" class="main">
    <div class="container-fluid" style="padding: 0;">
        <div class="row justify-content-center" style="max-width: 100%;">
            <!-- Initial highlights column -->
            <div class="col-1 highlights-section col-md-3 d-none d-md-block">
              <div class="d-none d-md-flex flex-column align-items-center w-100">
                <button class="highlights-column" onclick="scrollToSection('Introduction')">Introduction</button>
                <button class="highlights-column" onclick="window.location.href = '/news'">
                    <div class="d-flex flex-column align-items-end justify-content-between" style="min-height: 100%;">
                        <div style="font-size: 0.75em;">{{blogs.0.timestamp|date:"M d, Y"}}</div>
                        <div class="align-self-center" style="font-size: 0.9em;">{{blogs.0.title}}</div>
                        <div style="font-size: 0.75em;">{{blogs.0.author}}</div>
                    </div>
                </button>
                <button class="highlights-column" onclick="window.location.href = '/news'">
                    <div class="d-flex flex-column align-items-end justify-content-between" style="min-height: 100%;">
                        <div style="font-size: 0.75em;">{{blogs.1.timestamp|date:"M d, Y"}}</div>
                        <div class="align-self-center" style="font-size: 0.9em;">{{blogs.1.title}}</div>
                        <div style="font-size: 0.75em;">{{blogs.1.author}}</div>
                    </div>
                </button>
            </div>
            </div>
            <!-- Join column: Quick Pair, Lobby, games in play section -->
            <div class="col-10 lobby-column col-md-5">
              <nav class="nav">
                <button class="lobby-tab" data-toggle="tab" href="#quickPairContent">Quick Pair</button>
                <button class="active lobby-tab" data-toggle="tab" href="#lobbyContent">Lobby</button>
                {% if has_games_in_play %}
                  <button class="lobby-tab" data-toggle="tab" href="#inPlayContent">In Play</button>
                {% endif %}
                <button id="lobby-filter-button" class="lobby-filter-button" data-toggle="modal" data-target="#LobbyFilterMenu" style="position: absolute; right: 15px; padding: 5em none;" aria-label="Lobby Filter">
                    <i class="fa-solid fa-gear"></i>
                </button>
              </nav>  
                <div class="modal fade" id="LobbyFilterMenu" tabindex="-1" role="dialog" aria-labelledby="LobbyFilterLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="LobbyFilterLabel">Select Lobby Filters</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- To recreate within Django eventually -->
                          <div class="form-group mt-3">
                              <label for="positionFilter">Position:</label>
                              <select class="form-control" id="positionFilter">
                                  <option value="">Select position...</option>
                                  <option value="white">White</option>
                                  <option value="black">Black</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="usernameFilter">Username:</label>
                              <input type="text" class="form-control" id="usernameFilter" placeholder="Enter username...">
                          </div>
                          <button id="updateFilterButton" class="btn btn-primary">Update Filters</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="lobby" style="max-width: 100%;">
                    <div id="lobby-list" class="scrollable-lobby-list" style="width: 100%;">
                        <div class="tab-content">
                          <div class="tab-pane fade show active" id="lobbyContent">
                            <div class="lobby-header">
                                <div style="text-align: center; width: 10%; overflow: hidden;"></div>
                                <div style="text-align: left; width: 30%; overflow: hidden;">User</div>
                                <div style="text-align: center; width: 10%; overflow: hidden;">Type</div>
                                <div style="text-align: right; width: 50%; overflow: hidden; padding-right: 1em;">Created Time</div>
                            </div>
                            <div id="lobby-content"></div>
                          </div>
                          <div class="tab-pane fade" id="quickPairContent">
                            <div class="quick-pair-header w-100 d-flex">
                              <div class="d-flex align-items-center justify-content-center" style="text-align: center; width: 25%; border: thin solid var(--lobby-outline);">Mode</div>
                              <div class="w-100" style="border: thin solid var(--lobby-outline);">
                                <div class="d-flex w-100" style="padding-bottom: 3px;">
                                  <div style="text-align: center; width: 15%"></div>
                                  <div style="text-align: center; width: 25%">Playing Stage</div>
                                  <div style="text-align: center; width: 25%">Reveal Stage</div>
                                  <div style="text-align: center; width: 25%">Decision Stage</div>
                                  <div style="width: 10%"></div>
                                </div>
                              </div>
                            </div>

                            <div class="accordion w-100" id="standardAccordion">
                              <button class="quick-pair-row w-100 d-flex collapsed" type="button" data-toggle="collapse" data-target="#standard" aria-expanded="true" aria-controls="standard" style="height: 32px;">
                                <div class="d-flex mode align-items-center justify-content-center mode">Standard</div>
                                <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                  <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                    <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ standard_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ standard_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ x_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ x_svg|safe }}</div>
                                    <div class="dropdownArrow d-flex justify-content-center align-items-center" style="width: 10%"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                  </div>
                                </div>
                              </button>
                              <div id="standard" class="collapse" aria-labelledby="standardQuickSelect" data-parent="#standardAccordion">
                                <button id="normalQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Standard" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Normal</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex h-100 w-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ envelope_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">No limit</div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                                <button id="classicalQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Standard" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Classical</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ hourglass_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">30m</div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                                <button id="rapidQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Standard" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Rapid</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ bird_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">10m</div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                                <button id="blitzQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Standard" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Blitz</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ lightning_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">5m</div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                              </div>
                            </div>
                            <div class="accordion w-100" id="completeAccordion">
                              <button class="quick-pair-row w-100 d-flex collapsed" type="button" data-toggle="collapse" data-target="#complete" aria-expanded="true" aria-controls="complete" style="height: 32px;">
                                <div class="d-flex mode align-items-center justify-content-center">Complete</div>
                                <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                  <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                    <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ complete_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ standard_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ relay_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ countdown_svg|safe }}</div>
                                    <div class="dropdownArrow d-flex justify-content-center align-items-center" style="width: 10%"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                  </div>
                                </div>
                              </button>
                              <div id="complete" class="collapse" aria-labelledby="completeQuickSelect" data-parent="#completeAccordion">
                                <button id="completeSimpleQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Complete" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Simple</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ eye_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">5s</div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                                <button id="completeSuggestiveQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Complete" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Suggestive</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ masks_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ b1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">5s</div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                              </div>
                            </div>
                            <div class="accordion w-100" id="relayAccordion">
                              <button class="quick-pair-row w-100 d-flex collapsed" type="button" data-toggle="collapse" data-target="#relay" aria-expanded="true" aria-controls="relay" style="height: 32px;">
                                <div class="d-flex mode align-items-center justify-content-center">Relay</div>
                                <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                  <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                    <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ relay_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ standard_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ relay_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ x_svg|safe }}</div>
                                    <div class="dropdownArrow d-flex justify-content-center align-items-center" style="width: 10%"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                  </div>
                                </div>
                              </button>
                              <div id="relay" class="collapse" aria-labelledby="relayQuickSelect" data-parent="#relayAccordion">
                                <button id="relaySimpleQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Relay" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Simple</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ eye_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                                <button id="relaySuggestiveQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Relay" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Suggestive</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ masks_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ b1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%"></div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                              </div>
                            </div>
                            <div class="accordion w-100" id="countdownAccordion">
                              <button class="quick-pair-row w-100 d-flex collapsed" type="button" data-toggle="collapse" data-target="#countdown" aria-expanded="true" aria-controls="countdown" style="height: 32px;">
                                <div class="d-flex mode align-items-center justify-content-center">Countdown</div>
                                <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                  <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                    <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ countdown_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ standard_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ x_svg|safe }}</div>
                                    <div class="d-flex justify-content-center" style="width: 25%">{{ countdown_svg|safe }}</div>
                                    <div class="dropdownArrow d-flex justify-content-center align-items-center" style="width: 10%"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                  </div>
                                </div>
                              </button>
                              <div id="countdown" class="collapse" aria-labelledby="countdownQuickSelect" data-parent="#countdownAccordion">
                                <button id="countdownSimpleQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="Countdown" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Simple</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ eye_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">5s</div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                                <button id="countdownSuggestiveQuickPair" class="accordion-content w-100 d-flex" type="button" data-gametype="countdown" style="height: 32px;">
                                  <div class="d-flex mode align-items-center justify-content-center">Suggestive</div>
                                  <div class="w-100 h-100" style="border: thin solid var(--lobby-outline);">
                                    <div class="d-flex w-100 h-100" style="padding-top: 3px; padding-bottom: 3px;">
                                      <div class="d-flex justify-content-center" name="icon" style="width: 15%">{{ masks_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ a1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">{{ b1_svg|safe }}</div>
                                      <div class="d-flex justify-content-center" style="width: 25%">5s</div>
                                      <div style="width: 10%"></div>
                                    </div>
                                  </div>
                                </button>
                              </div>
                            </div>
                          </div>
                          {% if has_games_in_play %}
                            <div class="tab-pane fade" id="inPlayContent">
                              <div class="lobby-header">
                                <div style="text-align: left; width: 30%; overflow: hidden; padding-left: 1em;">Side</div>
                                <div style="text-align: left; width: 30%; overflow: hidden;">Opponent</div>
                                <div style="text-align: right; width: 50%; overflow: hidden; padding-right: 1em;">Start Time</div>
                              </div>
                              {% for game in games_in_play %}
                                <div class="d-flex">
                                  <a class="lobby-a" href="/play/{{ game.active_game_id }}" style="width: 100%;" onclick="checkGameAvailability('{{ game.active_game_id }}', this.parentNode.querySelector('.lobby-row'))">
                                    <button id="{{ game.active_game_id }}" class="lobby-row">
                                      <div style="text-align: left; width: 30%; overflow: hidden; padding-left: 1em;">{{ sides|index:forloop.counter0 }}</div>
                                      <div style="text-align: left; width: 30%; overflow: hidden;">{{ opponents|index:forloop.counter0 }}</div>
                                      <div style="text-align: right; width: 50%; overflow: hidden; padding-right: 1em;">{{ game.start_time|time:"H:i:s" }}</div>
                                    </button>
                                  </a>
                                </div>
                              {% endfor %}
                            </div>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex d-md-none justify-content-between w-100 top-margin">
                    <button class="highlights" onclick="scrollToSection('Introduction')">Introduction</button>
                    <button class="highlights" onclick="window.location.href = '/news'">
                        <div class="d-flex flex-column align-items-end justify-content-between" style="min-height: 100%;">
                            <div style="font-size: 0.75em;">{{blogs.0.timestamp|date:"M d, Y"}}</div>
                            <div class="align-self-center" style="font-size: 0.9em;">{{blogs.0.title}}</div>
                            <div style="font-size: 0.75em;">{{blogs.0.author}}</div>
                        </div>
                    </button>
                    <button class="highlights" onclick="window.location.href = '/news'">
                        <div class="d-flex flex-column align-items-end justify-content-between" style="min-height: 100%;">
                            <div style="font-size: 0.75em;">{{blogs.1.timestamp|date:"M d, Y"}}</div>
                            <div class="align-self-center" style="font-size: 0.9em;">{{blogs.1.title}}</div>
                            <div style="font-size: 0.75em;">{{blogs.1.author}}</div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- Game creation, live stats -->
            <div class="col-10 game-creation col-md-3 d-flex flex-column justify-content-center">
                <button type="button" class="new-game" data-toggle="modal" data-target="#CreateNewGame" style="min-width: 100%;">Create New Game</button>
                <button type="button" class="new-game" data-toggle="modal" data-target="#CreateNewComputerGame" style="min-width: 100%;">Play With The Computer</button>
                <button type="button" class="new-game" data-toggle="modal" data-target="#CreateNewPrivateGame" style="min-width: 100%;">Play With A Friend</button>
                  <div class="modal fade" id="CreateNewGame" tabindex="-1" role="dialog" aria-labelledby="CreateNewGameLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center w-100" id="CreateNewGameLabel">Create New Game</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="main-mode">
                              {{ form.main_mode_multiplayer|as_crispy_field }}
                            </div>
                            {{ form.solo_play|as_crispy_field }}
                            <div class="d-none" id="decision-content-multiplayer">
                              {{ form.reveal_stage_multiplayer|as_crispy_field }}
                              {{ form.decision_stage_multiplayer|as_crispy_field }}
                            </div>
                            <div class="text-center">Choose Starting Side</div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button class="position-placeholder mr-2" data-position="white" new-game="true">
                                    <img src="{% static 'main/images/white.png' %}" alt="White" style="background-color: rgb(56, 56, 56); height: 77px; width: 50px;"></img>
                                </button>
                                <button class="position-placeholder mr-2" data-position="random" new-game="true">
                                    <img src="{% static 'main/images/random.png' %}" alt="Random" style="background-color: rgb(56, 56, 56); height: 106px; width: 100px;"></img>
                                </button>
                                <button class="position-placeholder mr-2" data-position="black" new-game="true">
                                    <img src="{% static 'main/images/black.png' %}" alt="Black" style="background-color: rgb(56, 56, 56); height: 77px; width: 50px;"></img>
                                </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="CreateNewComputerGame" tabindex="-1" role="dialog" aria-labelledby="CreateNewComputerGameLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center w-100" id="CreateNewComputerGameLabel">Play With The Computer</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="main-mode">
                              {{ form.main_mode_computer|as_crispy_field }}
                            </div>
                            <div class="text-center">Choose Starting Side</div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button class="position-placeholder mr-2" data-position="white" new-computer-game="true">
                                    <img src="{% static 'main/images/white.png' %}" alt="White" style="background-color: rgb(56, 56, 56); height: 77px; width: 50px;"></img>
                                </button>
                                <button class="position-placeholder mr-2" data-position="random" new-computer-game="true">
                                    <img src="{% static 'main/images/random.png' %}" alt="Random" style="background-color: rgb(56, 56, 56); height: 106px; width: 100px;"></img>
                                </button>
                                <button class="position-placeholder mr-2" data-position="black" new-computer-game="true">
                                    <img src="{% static 'main/images/black.png' %}" alt="Black" style="background-color: rgb(56, 56, 56); height: 77px; width: 50px;"></img>
                                </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="CreateNewPrivateGame" tabindex="-1" role="dialog" aria-labelledby="CreateNewPrivateGameLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center w-100" id="CreateNewPrivateGameLabel">Create New Private Game</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center" style="font-size: small;">Once the game is loaded share the url with your opponent.</div>
                          <div class="main-mode">
                            {{ form.main_mode_private|as_crispy_field }} 
                          </div>
                          <div class="d-none" id="decision-content-private">
                            {{ form.reveal_stage_private|as_crispy_field }}
                            {{ form.decision_stage_private|as_crispy_field }}
                          </div>
                          <div class="text-center">Choose Starting Side</div>
                          <div class="d-flex justify-content-center align-items-center">
                              <button class="position-placeholder mr-2" data-position="white" new-private-game="true">
                                  <img src="{% static 'main/images/white.png' %}" alt="White" style="background-color: rgb(56, 56, 56); height: 77px; width: 50px;"></img>
                              </button>
                              <button class="position-placeholder mr-2" data-position="random" new-private-game="true">
                                  <img src="{% static 'main/images/random.png' %}" alt="Random" style="background-color: rgb(56, 56, 56); height: 106px; width: 100px;"></img>
                              </button>
                              <button class="position-placeholder mr-2" data-position="black" new-private-game="true">
                                  <img src="{% static 'main/images/black.png' %}" alt="Black" style="background-color: rgb(56, 56, 56); height: 77px; width: 50px;"></img>
                              </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row justify-content-center" style="max-width: 100%;">
            <!-- Top live game -->
            <!-- Initial empty column -->
            <div class="col-1 col-md-3" style="width: 100%;">
            </div>
            <!-- Introduction -->
            <div class="col-10 col-md-5 intro">
                <section id="Introduction">
                    <h2>Introduction</h2>
                    <p>
                        Decision Chess is a variant of chess that will require the move of each player to be locked in before playing them, 
                        additionally there are no turns during "active" play. That is, both players can move their pieces on the same turn and both 
                        moves will be played at the same time once they both agree to proceed. 
                        <br>
                        The full official name of the variant is thus called <strong><em>Joint</em>-Decision Chess</strong>, but that's less catchy.
                        <br>
                        <br>
                        Currently, this site only offers the classical standard version of chess after basic functionality was developed and enabled.
                        Consider joining the <a href="https://discord.gg/YDkYCtsV" target="_blank" rel="noopener noreferrer">discord</a> to interact with the community. This site runs soley off of donations and is developed 
                        by a one-person team, you can contribute here <a href="https://paypal.me/decisionchess" target="_blank" rel="noopener noreferrer">paypal.me/decisionchess</a>.
                        It will allow for classical games and decision chess games in the future. The following is a list of some existing major features and pages. <br>
                    </p>
                    <ul>
                        <li>A News Page</li>
                        <li>A Play Page that interacts with the game</li>
                        <li>A Profile Page</li>
                        <li>An Account Page</li>
                        <li>Enabling Multiplayer</li>
                        <li>Revisiting Old Games</li>
                        <li>Home Page Lobby and Quick Pair Tabs</li>
                        <li>Live Chatbox</li>
                        <li>AI opponents</li>
                        <li>Theme set selection</li>
                        <li>Lobby game filter</li>
                        <li>Potential Visual Overhaul</li>
                    </ul>
                    <p>Once this initial site is complete, I will begin to create and implement my variant. The following is a list of features coming with the beta version:</p>
                    <ul>
                        <li>Implementing the new variant itself!</li>
                        <li>Creating AI and iterating on the design</li>
                        <li>A personal notes tab alongside the live chat</li>
                        <li>Customizing the variant</li>
                        <li>Mobile compatibility</li>
                        <li>Live games viewing</li>
                        <li>Personal Ranking System (Not ELO)</li>
                        <li>Players Page with Leaderboards and Search</li>
                        <li>Tools Page with board editor and game search</li>
                        <li>Creating, testing, and adding sub-variants!</li>
                        <li>Many more minor features...</li>
                    </ul>
                    <p>After these major hurdles and non-referenced other tasks are complete I will wait for feedback that will be added to version 1.0. <br> 
                       I have only optional dependent features after it's initial launch but will await feedback and prioritize.
                    </p>
                </section>
            </div>
            <!-- Extra links -->
            <div class="col-3">
              <div class="row justify-content-center" style="padding-bottom: 20px;">
                <a class="donate rounded align-self-center" href="https://paypal.me/decisionchess" target="_blank" rel="noopener noreferrer">Donate</a>
              </div>
            </div>
        </div>
    </div>
    <script>
        var csrftoken = "{{ csrf_token|escapejs }}";
        var whiteSideSVG = '{{ white_side_svg|safe }}';
        var blackSideSVG = '{{ black_side_svg|safe }}';
        var randomSideSVG = '{{ random_side_svg|safe }}';
        var completeSVG = '{{ complete_svg|safe }}';
        var relaySVG = '{{ relay_svg|safe }}';
        var countdownSVG = '{{ countdown_svg|safe }}';
        var standardSVG = '{{ standard_svg|safe }}';
    </script>
    <script src="{% static 'main/js/home.js' %}"></script>
</div>
{% endblock %}