{% extends 'main/base.html' %}

{% load static %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block title %}
Decision Chess
{% endblock %}

{% block side_head_content %}
    <a id="IntroLink" href="#Introduction" style="font-size: 0.95rem;">Introduction</a>
{% endblock %}

{% block content %}
<div id="content" name="content" class="main">
    <div class="container-fluid" style="padding: 0;">
        <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
            <!-- Landing Section across 11 columns -->
            <!-- Initial empty column -->
            <div class="col-1 col-hb-1 col-md-3">
            </div>
            <!-- Join column: Quick Pair, Lobby, games in play section -->
            <div class="col-10 offset-1 col-hb-10-offset-1 col-md-5 offset-md-0">
                <!-- <img src="{% static 'main/images/coming-soon-landing.png' %}" alt="Join Section" style="max-width: 100%;"> -->
                <button id="quick-pair" class="quick-pair">Quick Pair</button>
                <div class="lobby" style="max-width: 100%;">
                    <div id="lobby-list" class="scrollable-lobby-list" style="width: 100%;">
                        <div class="lobby-header">
                            <div style="text-align: center; width: 50%; overflow: hidden;">User (Anonymous)</div>
                            <div style="text-align: right; width: 50%; overflow: hidden; padding-right: 1em;">Created Time</div>
                        </div>
                        <div id="lobby-content"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3 d-md-none" style="width: 0%"></div> -->
            <!-- Game creation, live stats -->
            <!-- <div class="col-2 d-md-none"></div> -->
            <div class="col-10 offset-2 col-hb-10-offset-2 col-md-3 offset-md-0 d-flex align-items-center">
                <button class="new-game" style="min-width: 100%;">Create New Game</button>
            </div>
        </div>
        <div class="row justify-content-center" style="max-width: 100%;">
            <!-- Top live game, Recent News, donation section to be added here -->
            <!-- Introduction Section across 11 columns -->
            <!-- Initial empty column -->
            <div class="col-2 col-hb-2 col-md-3" style="width: 100%;">
            </div>
            <!-- Introduction -->
            <div class="col-10 col-hb-10 col-md-5">
                <section id="Introduction">
                    <h2>Introduction</h2>
                    <p>This site is the pre-alpha version of my future variant. It allows for playing chess with the game developed using pygame. 
                        Previously you couldn&#39;t publish pygame applications to the web but with the pygbag library this is now possible and many single player games are published. 
                        To my knowledge this is one of few games that allows for online multiplayer that is public.
                    </p>
                    <p>The site is still under active development but this read-only version can be tried. 
                        Note that it works best on desktop and large screens but brief testing was done on mobile with it mostly working with some later fixes to be made.
                    </p>
                    <p>To start a game click Play or &quot;Create a New Game&quot;. </p>
                    <ol>
                        <li>Click the ready screen once it&#39;s loaded. 
                            <ul>
                                <li>If the board never loads or an error popup appears try reloading or clearing the cache and just creating a new game if needed.</li>
                            </ul>
                        </li>
                        <li>Once loaded, the lobby above will populate with a row and another player can join by clicking the link or going to the same url. 
                            Whether it&#39;s from a new tab or another player joins remotely. 
                            <ul>
                                <li>If the initial player leaves the tab and rejoins before a second player visits they will be considered to be the second player and the game 
                                    won&#39;t start as they initially left, a new game must be created.
                                </li>
                            </ul>
                        </li>
                        <li>Once the second player has loaded in and has connected, both dark filters on each player&#39;s screen will be lifted after a few seconds and it is white&#39;s turn. The lobby row and url will be inaccessible to others.</li>
                    </ol>
                    <p>Alternatively, instead of joining a specific row, if many games are available clicking on Quick Pair will auto join a game.</p>
                    <p>Some network errors are to be expected when joining with this simple freely hosted version and connecting to the database and hosting service. 
                        Trying again after some time should work and the game server connection is more robust once connected usually. Proper hosting services are to be migrated to later.
                    </p>
                    <p>If no game activity occurs for a while the games will disconnect. This is only for this read-only version and is simple behavior that will be improved later to 
                        also handle disconnects, long games, and allow for reconnecting.
                    </p>
                    <p>Custom promotions can be selected during play as normal.</p>
                    <p>Undo and draw offers can be made to your opponent who can accept or deny them.</p>
                    <p>Any player can resign when they wish.</p>
                    <p>Custom colored themes can be cycled though the button or by pressing the &quot;t&quot; key with the game selected.</p>
                    <p>Most themes default to white&#39;s perspective so press the Flip button to switch back and forth at will or by pressing the &quot;f&quot; key.</p>
                    <p>Moves are displayed as they are played and an end message appears once the game is over.</p>
                    <p>The site will be further developed taking inspiration from popular chess sites and will include many of their features including site accounts. 
                        Some of these are already working but are not included in this pre-alpha read-only version.
                    </p>
                </section>
            </div>
            <!-- Initial empty column -->
            <div class="col-1 col-hb-1 col-md-3">
            </div>
        </div>
    </div>
    <script>
        var csrftoken = "{{ csrf_token|escapejs }}";
    </script>
    <script src="{% static 'main/js/home.js' %}"></script>
</div>
{% endblock %}