{% extends 'main/base.html' %}

{% load static %}

{% block style %} 
<style>
.header {
    color: white;
    border-radius: 20px 20px 0 0;
    margin: 0 !important;
    text-align: center;
}

.lesson-section {
    padding: 10px 0; 
    border-radius: 0 0 20px 20px; 
    margin-bottom: 10px;
}

.lesson {
    color: white;
    border: solid transparent;
    border-radius: 20px;
    transition: color 0.5s ease, border-color 0.2s ease;
    display: block;
    height: 100%;
}

.lesson:hover { 
    color: var(--lesson-hover-text);
    text-decoration: none;
}

.basic:hover {
    border: solid var(--basic-header);
}

.standard:hover {
    border: solid var(--standard-header);
}

.decision:hover {
    border: solid var(--decision-header);
}

p {
    margin-bottom: 0;
}
</style>
{% endblock %}

{% block title %}
Lessons
{% endblock %}

{% block side_head_content %}
{% endblock %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="row justify-content-center" style="max-width: 100%;">
        <div class="col-10 col-md-8">
            <h2 class="header" style="background-color: var(--basic-header);">Basics</h2>
            <div class="lesson-section" style="background-color: var(--basic-lesson-background);">
                {% for lesson in basic_rules %}
                    <a class="lesson basic mx-2" href="/lessons/{{ lesson.url_name }}">
                        <h3 style="text-align: center;">{{lesson.title}}</h3>
                        <p class="w-75 mx-auto" style="text-align: center;">{{lesson.description}}</p>
                    </a>
                {% endfor %}
            </div>
            <h2 class="header" style="background-color: var(--standard-header);">Standard Moves</h2>
            <div class="row lesson-section" style="background-color: var(--standard-lesson-background); margin-left: 0; margin-right: 0;">
                {% for lesson in standard_rules %}
                    <div class="col-6">
                        <a class="lesson standard mx-2" href="/lessons/{{ lesson.url_name }}">
                            <h3 style="text-align: center;">{{lesson.title}}</h3>
                            <p style="text-align: center;">{{lesson.description}}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h2 class="header" style="background-color: var(--decision-header);">Decision Chess Rules</h2>
            <div class="lesson-section" style="background-color: var(--decision-lesson-background);">
                {% for lesson in decision_rules %}
                    <a class="lesson decision mx-2" href="/lessons/{{ lesson.url_name }}">
                        <h3 style="text-align: center;">{{lesson.title}}</h3>
                        <p style="text-align: center;">{{lesson.description}}</p>
                    </a>
                {% endfor %}
                <a class="lesson decision mx-2" href="/variants/">
                    <h3 style="text-align: center;">Variants</h3>
                    <p style="text-align: center;">A description of the main game modes, stages and variants</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}