{% extends 'main/base.html' %}

{% load static %}

{% block style %} 
<style>
    html {
        scroll-behavior: smooth;
      }

    .after-border {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-image: 
        linear-gradient(
            to right, 
            transparent, 
            rgb(212, 170, 107), 
            transparent
        );
    }
</style>
{% endblock %}

{% block title %}
News
{% endblock %}

{% block side_head_content %}
{% endblock %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="row justify-content-center" style="max-width: 100%; margin-bottom: 5px;">
        <div class="col-10 col-md-5">
            <h1 style="text-align: center; color: var(--news-title-text);">News</h1>
            <div class="after-border"></div>
        </div>
    </div>
    {% for post in blogs.all %}
        <div class="row justify-content-center" style="max-width: 100%;">
            <div class="col-10 col-md-5">
                <h2 style="color: var(--blog-titles);">{{post.title}}</h2>
                <h3>{{post.timestamp|date:"F d, Y"}}</h3>
                <i style="font-size: small;">{{post.author}}</i>
                <p>{{post.content|safe}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}