{% extends 'main/base.html' %}

{% load static %}

{% block style %}
<style>
    @media (min-width: 768px) {
        .homeblock {
            height: 5%;
        }
        .sidenav {
            height: 95%;
        }
    }

    @media (max-width: 767px) {
        .homeblock {
            width: 130px;
        }
        .sidenav {
            width: calc(100% - 130px);
        }
        .content {
            padding-top: 1vh;
        }
    }

    @media (max-width: 510px) {
        .sidenav {
            overflow-x: scroll;
        }
        .sidenav a:last-child {
            position: relative;
            right: initial;
        }
    }
</style>
{% endblock %}

{% block title %}
{{ profile_user.username }} • Decision Chess
{% endblock %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
        <div class="col-5">
            <h1>{{ profile_user.username }}</h1>
            <p>Member Since: {{ member_since }}</p>
            <p>
                <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
                <i class="{{ profile_user.country.flag_css }}"></i>
            </p>
            <p>{{ profile_user.bio }}</p>
        </div>
    </div>
</div>
{% endblock %}