{% extends 'main/base.html' %}

{% block style %}
<style>
    .homeblock {
        height: 5%;
    }

    .sidenav {
        height: 95%;
    }
</style>
{% endblock %}

{% block title %}
{{ profile_user.username }} • Decision Chess
{% endblock %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
        <div class="col-5">
            <h1>{{ profile_user.username }}</h1>
            <p>Member Since: {{ member_since }}</p>
            <p>{{ profile_user.bio }}</p>
        </div>
    </div>
</div>
{% endblock %}