{% extends 'main/base.html' %}

{% block style %}
{% endblock %}

{% block title %}
Terms of Service
{% endblock %}

{% block side_head_content %}
{% endblock %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
        <div class="col-9 col-md-5">
            {% include "./terms/terms_october_4.html" %}
        </div>
    </div>
</div>
{% endblock %}