build
decisionchess/db.sqlite3
decisionchess/static_collected_files/*
!decisionchess/static_collected_files/.gitkeep
classical_chess/historic/*
!classical_chess/historic/main.py
classical_chess/simple_ai/*
!classical_chess/simple_ai/main.py
!classical_chess/simple_ai/ai.py
!classical_chess/simple_ai/network.py
classical_chess/solo_play/*
!classical_chess/solo_play/main.py
!classical_chess/solo_play/network.py
decision_chess/decision_ai/*
!decision_chess/decision_ai/main.py
!decision_chess/decision_ai/ai.py
!decision_chess/decision_ai/network.py
secrets.txt
*.pyc
*.env
