build
decisionchess/db.sqlite3
decisionchess/static_collected_files/*
!decisionchess/static_collected_files/.gitkeep
decisionchess/static/*
!decisionchess/static/.gitkeep
historic/*
!historic/main.py
simple_ai/*
!simple_ai/main.py
!simple_ai/ai.py
secrets.txt
*.pyc
*.env
