build
decisionchess/db.sqlite3
decisionchess/static_collected_files/*
!decisionchess/static_collected_files/.gitkeep
classical_chess/historic/*
!classical_chess/historic/main.py
classical_chess/simple_ai/*
!classical_chess/simple_ai/main.py
!classical_chess/simple_ai/ai.py
!classical_chess/simple_ai/network.py
classical_chess/solo_play/*
!classical_chess/solo_play/main.py
!classical_chess/solo_play/network.py
decision_chess/decision_ai/*
!decision_chess/decision_ai/main.py
!decision_chess/decision_ai/ai.py
!decision_chess/decision_ai/network.py
!decision_chess/decision_ai/ai.pyx
!decision_chess/decision_ai/game.pyx
!decision_chess/decision_ai/helpers.pyx
decision_chess/decision_builder/*
!decision_chess/decision_builder/main.py
!decision_chess/decision_builder/images/delete.png
!decision_chess/decision_builder/builder_utils.py
!decision_chess/decision_builder/constants.py
!decision_chess/decision_builder/helpers.py
!decision_chess/decision_builder/network.py
decision_chess/decision_exercise/*
!decision_chess/decision_exercise/main.py
!decision_chess/decision_exercise/network.py
decision_chess/decision_spectate/*
!decision_chess/decision_spectate/main.py
!decision_chess/decision_spectate/network.py
!decision_chess/decision_spectate/pygbag_net.py
!decision_chess/decision_spectate/constants.py
decision_chess/decision_preview/*
!decision_chess/decision_preview/main.py
!decision_chess/decision_preview/network.py
!decision_chess/decision_preview/pygbag_net.py
!decision_chess/decision_preview/constants.py
decision_chess/decision_historic/*
!decision_chess/decision_historic/main.py
decision_chess/decision_solo_play/*
!decision_chess/decision_solo_play/main.py
!decision_chess/decision_solo_play/helpers.py
!decision_chess/decision_solo_play/network.py
secrets.txt
*.pyc
*.env
