[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
django = "*"
crispy-bootstrap4 = "*"
pygbag = "*"
markdown = "*"
psycopg = {extras = ["binary"] }
python-decouple = "*"
django-countries = "*"
whitenoise = "*"
gunicorn = "*"
django-cors-headers = "*"
daphne = "*"
channels = {extras = ["daphne"] }
requests = "*"
pyjwt = "*"
channels-redis = "*"
twisted = "*"
django-debug-toolbar = "*"
django-livereload-server = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
