{% extends "main/base.html" %}

{% block style %} 
<!-- Allow table of contents featuring introduction -->
<style>
    .homeblock {
        height: 5%;
    }

    .sidenav {
        height: 95%;
    }
</style>
{% endblock %}

{% block title %}
Account Activated
{% endblock %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
        <div class="col-5">
            <h1>Your account has been activated successfully.</h1>
            <p>You can now <a href="/login">log in</a> to your account.</p>
        </div>
    </div>
</div>
{% endblock %}

