{% extends "main/base.html" %}

{% block style %} 
<!-- Allow table of contents featuring introduction -->
<style>
    .homeblock {
        height: 5%;
    }

    .sidenav {
        height: 95%;
    }
</style>
{% endblock %}

{% block title %}
Activation Failed
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
        <div class="col-5">
            <form method="post" class="from-group">
                <h1>Activation failed.</h1>
                <p>The activation link is invalid or has expired. Resend the email?</p>
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-success">Resend</button>	
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

