{% extends "main/base.html" %}

{% block style %}
{% endblock %}

{% block title %}
Password Reset
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div id="content", name="content", class="content">
    <div class="container-fluid" style="padding: 0;">
        <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
            <div class="col-10 col-md-5">
                <form method="post" class="from-group">
                    {% csrf_token %}
                    {{form|crispy}}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}