{% extends 'main/base.html' %}

{% block style %} 
<style>
    .settingssidenav {
        overflow-x: visible;
    }

    .settingssidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 1.1rem;
        color: var(--settings-side-nav-a-text);
        display: block;
    }

    .settingssidenav a:hover{
        color: var(--settings-side-nav-a-text-hover);
        text-decoration: none;
    }

    .settingssidenav a.active{
        color: var(--homebutton-decision);
        text-decoration: none;
    }

    .no-wrap {
        white-space: nowrap;
    }
</style>
{% block extrastyle %}
{% endblock %}
{% endblock %}

{% block content %}
<div id="content" name="content" class="main">
    <div class="container-fluid" style="padding: 0;">
        <div class="row justify-content-center" style="max-width: 100%;">
            <div class="col-11 ml-auto d-block d-md-none" style="padding-left: 0; padding-right: 0;">
                <div class="settingssidenav d-flex" style="overflow-x: scroll;">
                    <a id="change_themes" class="no-wrap" href="/account/themes">Themes</a>
                    <a id="edit_profile" class="no-wrap" href="/account/profile">Edit Profile</a>
                    <a id="change_password" class="no-wrap" href="/account/passwd">Change Password</a>
                    <a id="change_email" class="no-wrap" href="/account/email">Change Email</a>
                    <a id="close_account" class="no-wrap" href="/account/close_account">Close Account</a>
                </div>
            </div>
            <div class="col-2 d-none d-md-block"></div>
            <div class="col-11 col-md-7 block ml-auto">
            {% block setting_window %}
            {% endblock %}
            </div>
            <div class="col-2 d-none d-md-block">
                <div class="settingssidenav">
                    <a id="change_themes" href="/account/themes">Themes</a>
                    <a id="edit_profile" href="/account/profile">Edit Profile</a>
                    <a id="change_password" href="/account/passwd">Change Password</a>
                    <a id="change_email" href="/account/email">Change Email</a>
                    <a id="close_account" href="/account/close_account">Close Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}