{% extends 'main/base.html' %}

{% block style %} 
<style>
    .settingssidenav {
        overflow-x: visible;
    }

    .settingssidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 1.1rem;
        color: #5c67a3;
        display: block;
    }

    .settingssidenav a:hover{
        color: #e4a03a;
        text-decoration: none;
    }	

    .block {
        color: white;
        background-color: #435e67;
    }
</style>
{% block extrastyle %}
{% endblock %}
{% endblock %}

{% block content %}
<div id="content" name="content" class="main"> <!-- maybe custom class here -->
    <div class="row justify-content-center" style="max-width: 100%;"> <!-- max width necessary for no horizontal scrolling -->
        <div class="col-2"></div>
        <div class="col-7 block">
        {% block setting_window %}
        {% endblock %}
        </div>
        <div class="col-2">
            <div class="settingssidenav">
                <a href="/account/profile">Edit Profile</a>
                <a href="/account/passwd">Change Password</a>
                <a href="/account/email">Change Email</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}