.homeblock {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: transparent;
}

.homeblock a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #1720a1;
    font-size: 20px;
    display: block;
}

.homeblock a:hover{
    color: #ecac22;
    text-decoration: none;
}	

.sidenav {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: #001d23;
    /* Overflow shouldn't be an issue */
    overflow-x: hidden;
}

.sidenav a,
.sidenav .nav-new-game,
.profile-dropdown {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover,
.dropdown-content a:hover {
    color: #f1f1f1;
    text-decoration: none;
}	

.sidenav .nav-new-game,
.profile-dropdown {
    cursor: pointer;
}

.sidenav .nav-new-game:hover{
    transition: color 0.3s ease;
    color: #465cda
}

.sidenav .last {
    position: absolute;
    bottom: 0;
}

.profile-dropdown {
    width: 100%;
}

.profile-dropdown.selected {
    background-color: #3c585e;
    color: #f1f1f1;
}

.profile-dropdown:hover {
    color: #f1f1f1;
}

.dropdown-content {
    display: none;
    position: fixed;
    bottom: 0;
    left: 160px;
    background-color: #3c585e;
    width: 160px;
    z-index: 3;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #5a747a;
}

.main-wrapper {
    min-height: calc(100vh - var(--footer-height));
}

.main {
    padding-top: 100px;
    padding-bottom: 20px;
}

.content {
    padding-top: 5vh;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .homeblock {
        width: 160px;
        height: 50px;
    }
    .sidenav {
        width: 160px;
        height: calc(100% - 50px);
    }
}

@media (max-width: 767px), (max-height: 510px) {
    .homeblock {
        display: flex;
        height: 40px;
        width: 150px;
        align-items: baseline;
        background-color: white;
    }
    .homeblock a {
        font-size: 1.0rem;
    }
    .sidenav {
        display: flex;
        height: 40px;
        width: calc(100% - 150px);
        top: 0;
        right: 0;
        bottom: initial;
        left: initial;
    }
    .col-hb-12.col-md-1 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-hb-12.col-md-11 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #header-column {
        height: 40px;
    }
    .sidenav .nav-new-game{
        font-size: 1.0rem;
    }
    .sidenav a {
        font-size: 1.0rem;
    }
    .sidenav .last,
    .dropdown-content {
        bottom: initial;
        right: 0;
    }
    .profile-dropdown {
        font-size: 1.0rem;
        width: fit-content;
        height: 100%;
    }
    .dropdown-content {
        top: 40px;
        left: auto;
    }
    .content {
        padding-top: 1vh;
    }
    .main {
        padding-top: 1vh;
    }
}

@media (max-width: 510px) {
    .homeblock {
        display: inline-block;
    }
    .sidenav {
        overflow-x: scroll;
    }
    .sidenav .last {
        position: relative;
        right: initial;
        flex-grow: 1;
        padding-right: auto;
    }
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #5b7f8b;
    color: white;
    width: 100%;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}