/* Allow table of contents featuring introduction */
@media (min-width: 768px) {
    .homeblock {
        height: 100px;
    }
    .sidenav {
        height: calc(100% - 100px);
    }
}

@media (max-width: 767px), (max-height: 510px) {
    .homeblock {
        height: 40px;
        width: 245px;
    }
    .sidenav {
        height: 40px;
        width: calc(100% - 245px);
    }
    .main {
        padding-top: 1vh;
    }
    .col-10.offset-2.col-md-3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* These will be unecessary in the future with more responsive widths or added content */
    .col-hb-1.col-md-3, .col-hb-1.col-md-3 {
        flex: 0 0 8.333333%;
        max-width: 8.3333333%;
    }
    .col-hb-10-offset-1.col-md-5 {
        margin-left: 8.333333%;
    }
    .col-hb-10-offset-2.col-md-3 {
        margin-left: 16.666667%;
    }
    .col-hb-2.col-md-3 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;        
    }
    .col-hb-10-offset-1.col-md-5, .col-hb-10-offset-2.col-md-3, .col-hb-10.col-md-5 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;  
    }
}

@media (max-width: 510px), (max-height: 510px) {
    .homeblock {
        display: inline-block;
    }
    .sidenav {
        width: calc(100% - 150px);
    }
    #IntroLink {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

.position-placeholder {
    border: none;
    outline: none;
    padding: 0px;
}

.position-placeholder:focus {
    outline: none;
}

.new-game {
    color: var(--new-game-text);
    border: none;
    outline: none;
    background-color: var(--new-game-background);
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.new-game:focus {
    outline: none;
}

.new-game:hover {
    color: var(--new-game-text-hover);
    background-color: var(--new-game-background-hover);
}

.quick-pair {
    border: none;
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--quick-pair-outline);
    color: var(--quick-pair-text);
    min-width: 50%;
    max-width: 50%;
    background-color: var(--quick-pair-background);
    transition: background-color 0.3s ease;
    font-size: large;
    padding: 5em none;
}

.quick-pair:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--quick-pair-outline);
}

.quick-pair:hover {
    color: var(--quick-pair-text-hover);
    background-color: var(--quick-pair-background-hover);
}

.lobby-filter-button {
    border: none;
    outline: none;
    color: var(--body-text);
    background-color: transparent;
}

.lobby-filter-button:focus {
    outline: none;
}

.lobby {
    color: var(--lobby-text);
    background-color: var(--lobby-background);
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--lobby-outline);
    max-width: 100%;
    position: relative;
    padding-bottom: 63%;
}

.lobby-header {
    display: flex;
    text-align: center; 
    padding-bottom: 0.5em; 
    position: sticky; 
    top: 0; 
    background-color: var(--lobby-header-background);
}

.scrollable-lobby-list {
    position: absolute;
    max-height: 100%;
    overflow-y: auto;
    z-index: 1;
}

.lobby-row {
    display: flex;
    border: none;
    border-bottom: solid 0.05em var(--lobby-row-border);
    outline: none;
    min-width: 100%;
    color: var(--lobby-row-text);
    background-color: transparent;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
    padding: 0;
}

.lobby-a:hover {
    text-decoration: none;
}

.lobby-row:disabled {
    color: var(--lobby-row-disabled-text);
    background-color: var(--lobby-row-disabled-background);
}

.lobby-row:disabled:hover {
    color: var(--lobby-row-disabled-hover-text);
    background-color: var(--lobby-row-disabled-hover-background);
}

.lobby-row:focus {
    outline: none;
}

.lobby-row:hover {
    color: var(--lobby-row-hover-text);
    background-color: var(--lobby-row-hover-background);
}

.lobby-row.empty {
    color: var(--lobby-row-empty-text);
}

.lobby-row.empty:hover {
    color: var(--lobby-row-empty-text);
    background-color: var(--lobby-row-empty-background);
}

.highlights {
    border: none;
    color: var(--highlights-text);
    background-color: var(--highlights-background);
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--highlights-outline);
    aspect-ratio: 1 / 1;
    width: 33.333%;
    min-width: 33.333%;
    position: relative;
    transition: background-color 0.3s ease;
    padding: 0 3px;
}

.highlights:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--highlights-focus-outline);
}

.highlights:hover {
    color: var(--highlights-hover-text);
    background-color: var(--highlights-hover-background);
}

.top-margin {
    margin-top: 9px;
}

body {
    background: linear-gradient(-45deg, var(--home-body-1), var(--home-body-2), var(--home-body-3), var(--home-body-4));
    background-size: 400% 400% !important;
    animation: gradient 25s ease infinite;
    height: 100%;
    background-attachment: fixed !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}