html {
    scroll-behavior: smooth;
}

.theme-toggle {
    display: block !important;
}

.position-placeholder {
    border: none;
    outline: none;
    padding: 0px;
}

.position-placeholder:focus {
    outline: none;
}

.new-game {
    color: var(--new-game-text);
    border: none;
    background-color: var(--new-game-background);
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.new-game:focus {
    outline: none;
}

.new-game:hover {
    color: var(--new-game-text-hover);
    background-color: var(--new-game-background-hover);
}

.lobby-tab {
    border: none;
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--quick-pair-outline);
    color: var(--quick-pair-text);
    min-width: 30%;
    max-width: 30%;
    background-color: var(--quick-pair-background);
    transition: background-color 0.3s ease;
    font-size: large;
}

.lobby-tab:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--quick-pair-outline);
}

.lobby-tab:hover {
    color: var(--quick-pair-text-hover);
    background-color: var(--quick-pair-background-hover);
}

.lobby-filter-button {
    border: none;
    outline: none;
    color: var(--body-text);
    background-color: transparent;
}

.lobby-filter-button:focus {
    outline: none;
}

.lobby {
    color: var(--lobby-text);
    background-color: var(--lobby-background);
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--lobby-outline);
    max-width: 100%;
    position: relative;
    padding-bottom: 98.3%;
}

.lobby-header {
    display: flex;
    text-align: center; 
    padding-bottom: 0.5em; 
    position: sticky; 
    top: 0; 
    background-color: var(--lobby-header-background);
}

.scrollable-lobby-list {
    position: absolute;
    max-height: 100%;
    overflow-y: auto;
    z-index: 1;
}

.lobby-row {
    display: flex;
    border: none;
    border-bottom: solid 0.05em var(--lobby-row-border);
    outline: none;
    min-width: 100%;
    color: var(--lobby-row-text);
    background-color: transparent;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
    padding: 0;
}

.lobby-a:hover {
    text-decoration: none;
}

.lobby-row:disabled {
    color: var(--lobby-row-disabled-text);
    background-color: var(--lobby-row-disabled-background);
}

.lobby-row:disabled:hover {
    color: var(--lobby-row-disabled-hover-text);
    background-color: var(--lobby-row-disabled-hover-background);
}

.lobby-row:focus {
    outline: none;
}

.lobby-row:hover {
    color: var(--lobby-row-hover-text);
    background-color: var(--lobby-row-hover-background);
}

.lobby-row.empty {
    color: var(--lobby-row-empty-text);
}

.lobby-row.empty:hover {
    color: var(--lobby-row-empty-text);
    background-color: var(--lobby-row-empty-background);
}

.quick-pair-button {
    display: flex;
    border: none;
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--lobby-outline);
    color: var(--lobby-row-text);
    background-color: transparent;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
    padding: 5px;
    margin: 10px;
}

.quick-pair-button:focus {
    outline-style: solid;
    outline-width: thin;
}

.quick-pair-button:hover {
    color: var(--lobby-row-hover-text);
    background-color: var(--lobby-row-empty-background);
}

.highlights-column {
    border: none;
    color: var(--highlights-text);
    background-color: var(--highlights-background);
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--highlights-outline);
    aspect-ratio: 1 / 1;
    width: 60%;
    min-width: 60%;
    position: relative;
    transition: background-color 0.3s ease;
    padding: 0 3px;
}

.highlights-column:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--highlights-focus-outline);
}

.highlights-column:hover {
    color: var(--highlights-hover-text);
    background-color: var(--highlights-hover-background);
}

.highlights {
    border: none;
    color: var(--highlights-text);
    background-color: var(--highlights-background);
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--highlights-outline);
    aspect-ratio: 1 / 1;
    width: 33.333%;
    min-width: 33.333%;
    position: relative;
    transition: background-color 0.3s ease;
    padding: 0 3px;
}

.highlights:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--highlights-focus-outline);
}

.highlights:hover {
    color: var(--highlights-hover-text);
    background-color: var(--highlights-hover-background);
}

.top-margin {
    margin-top: 9px;
}

.donate {
    display: block;
    text-align: center;
    border: none;
    outline-style: solid;
    outline-width: thin;
    outline-color: var(--donate-highlight);
    color: var(--donate-highlight);
    background-color: var(--sidenav-background);
    transition: color 0.3s ease, outline-color 0.3s ease, background-color 0.3s ease;
    font-size: large;
    padding: 2em;   
}

.donate:hover {
    text-decoration: none;
    color: var(--title-text);
    outline-color: var(--block-text);
}

body {
    background: linear-gradient(-45deg, var(--home-body-1), var(--home-body-2), var(--home-body-3), var(--home-body-4));
    background-size: 400% 400% !important;
    animation: gradient 25s ease infinite;
    height: 100%;
    background-attachment: fixed !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Allow table of contents featuring introduction */
@media (min-width: 768px) {
    .homeblock {
        height: 100px;
    }
    .sidenav {
        height: calc(100% - 100px);
    }
}

@media (max-width: 767px), (max-height: 510px) {
    .homeblock {
        height: 40px;
        width: 245px;
    }
    .sidenav {
        height: 40px;
        width: calc(100% - 245px);
    }
    .main {
        padding-top: 1vh;
    }
    .highlights-column {
        display: none;
    }
    .game-creation {
        padding-top: 30px;
        padding-bottom: 30px;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        margin-left: 8.333333%;
    }
    .lobby-column {
        margin-left: 8.333333%;
    }
    .lobby-column, .highlights-section, .intro {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;  
    }
}


@media (max-height: 510px) {
    .lobby {
        padding-bottom: 35%;
    }
    .intro {
        margin-left: 8.333333%;
    }
}

@media (max-width: 767px) and (max-height: 510px) {
    .game-creation { 
        padding-top: 30px;
        padding-bottom: 30px;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        margin-left: 8.333333%;
    }
    .intro {
        margin-left: 0px;
    }
}

@media (max-width: 510px) {
    .homeblock {
        display: inline-block;
        width: 150px;
    }
    .sidenav {
        width: calc(100% - 150px);
    }
    #IntroLink {
        display: none;
    }
}