#iframe-container {
    position: relative;
    width: 100%;
}
#embedded-iframe {
    width: 100%;
}

.chat-box {
    color: var(--chat-box-text);
    background-color: var(--chat-box-background);
    border-radius: 0;
}

.chat-wrapper {
    height: 100% - 1em;
    overflow-y: auto;
}

.chat-messages p {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    font-size: smaller;
    margin-bottom: 0;
}

.chat-input {
    border: none;
    border-top: 1px solid var(--chat-input-border);
    border-radius: 0;
    color: var(--chat-input-text);
    background-color: var(--chat-input-background);
    padding: 0;
    padding-left: 0.25em;
}

.chat-input::placeholder {
    font-size: smaller;
    color: var(--chat-input-placeholder);
}

.chat-input:focus {
    z-index: 0;
    border: none;
    border-top: 1px solid var(--chat-input-focus-border);
    border-radius: 0;
    color: var(--chat-input-focus-text);
    background-color: var(--chat-input-focus-background);
    box-shadow: none;
}

.form-control:focus {
    z-index: 0 !important;
}

.form-control:disabled {
    background-color: var(--chat-input-disabled);
}

.chat-input:disabled::placeholder {
    color: transparent;
}

.scaled-pieces {
    width: 17px;
    height: 20px;
}

.command-center {
    color: white;
    background-color: var(--command-center-background);
}

.userblock {
    text-align: left;
    padding-left: 5px;
}

.indicator {
    color: var(--homebutton-decision);
    margin-left: auto;
    margin-right: 5px;
}

.scrollable-moves-list {
    overflow-y: auto;
    max-height: 100%;
    min-width: 100%;
}

.action-button {
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: var(--action-button);
}

.action-button:focus {
    outline: none;
}

.action-button.confirm.check {
    background-color: #6f9176;
}

.action-button.confirm:hover {
    background-color: #449255;
}

.action-button.confirm:disabled:hover {
    background-color: #da8525;
}

.action-button.confirm.waiting:disabled:hover,
.action-button.confirm.used:disabled:hover {
    color: var(--action-button-waiting-text);
    background-color: var(--action-button-waiting-background);
}

.action-button.confirm.used {
    color: var(--action-button-waiting-text);
}

.action-button.cancel.check {
    background-color: rgb(161, 160, 85);
}

.action-button.cancel:hover {
    background-color: #a05139;
}

.action-button.confirm:hover .icon-color {
    color: var(--action-button-icon-hover);
}

.action-button.confirm:disabled:hover .icon-color {
    color: var(--action-button-icon-disabled);
}

.hidden {
    display: none;
}

.move-row {
    display: flex;
    color: var(--move-row-text);
}

.move-row > div {
    width: 50%;
}

.even-move-row {
    background-color: var(--even-move-row-background);
}

.move-button {
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: var(--move-button-text);
    text-align: left;
}

.move-child {
    transition: background-color 0.3s ease;
    color: var(--move-button-text);
    text-align: left;
}

.move-button:focus {
    outline: none;
}

.move-button:hover {
    background-color: var(--move-button-background-hover);
}

.move-button:disabled {
    background-color: var(--move-button-disabled-background);
    cursor: pointer;
}

.displayed-move {
    background-color: var(--displayed-move-background);
    border-radius: 20%;
    border: 3px solid var(--displayed-move-border);
    padding: 2px;
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    font-size: larger;
}

.decision-timer {
    background-color: rgb(230, 137, 137);
    border-radius: 20%;
    border: 3px solid rgb(146, 0, 0);
    color: rgb(146, 0, 0);
    height: 50px;
    width: 40px;
    text-align: center;
    font-size: 30px;
}

.player-clock,
.opponent-clock {
    background-color: var(--clock-background);
    border: solid 3px transparent;
    border-radius: 10px;
    background-image: linear-gradient(var(--clock-background), var(--clock-background)),
                      conic-gradient(var(--clock-border), var(--clock-border));
    color: var(--body-text);
    height: 40px;
    min-width: 40px;
    text-align: center;
    font-size: 20px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: rgb(97, 97, 97);
    border-radius: 50%;
}

.circle-white {
    width: 20px;
    height: 20px;
    background-color: white;
    border: thin solid black;
    border-radius: 50%;
}

.circle-black {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .command-column {
        margin-left: 15px !important;
    }
}