#iframe-container {
    position: relative;
    width: 100%;
}
#embedded-iframe {
    width: 100%;
}

.chat-box {
    color: var(--chat-box-text);
    background-color: var(--chat-box-background);
    border-radius: 0;
}

.chat-wrapper {
    height: 100% - 1em;
    overflow-y: auto;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.chat-messages p {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    font-size: smaller;
    margin-bottom: 0;
}

.chat-input {
    border: none;
    border-top: 1px solid var(--chat-input-border);
    border-radius: 0;
    color: var(--chat-input-text);
    background-color: var(--chat-input-background);
    padding: 0;
    padding-left: 0.25em;
}

.chat-input::placeholder {
    font-size: smaller;
    color: var(--chat-input-placeholder);
}

.chat-input:focus {
    z-index: 0;
    border: none;
    border-top: 1px solid var(--chat-input-focus-border);
    border-radius: 0;
    color: var(--chat-input-focus-text);
    background-color: var(--chat-input-focus-background);
    box-shadow: none;
}

.form-control:focus {
    z-index: 0 !important;
}

.form-control:disabled {
    background-color: var(--chat-input-disabled);
}

.chat-input:disabled::placeholder {
    color: transparent;
}

.command-center {
    background-color: var(--command-center-background);
}

.scrollable-moves-list {
    overflow-y: scroll;
    max-height: 40%; /* 10% above for the username later */
}

.action-button {
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: var(--action-button);
}

.action-button:focus {
    outline: none;
}

.action-button.confirm.check {
    background-color: #6f9176;
}

.action-button.confirm:hover {
    background-color: #449255;
}

.action-button.confirm:disabled:hover {
    background-color: #da8525;
}

.action-button.confirm.waiting:disabled:hover,
.action-button.confirm.used:disabled:hover {
    color: var(--action-button-waiting-text);
    background-color: var(--action-button-waiting-background);
}

.action-button.confirm.used {
    color: var(--action-button-waiting-text);
}

.action-button.cancel.check {
    background-color: rgb(161, 160, 85);
}

.action-button.cancel:hover {
    background-color: #a05139;
}

.action-button.confirm:hover .icon-color {
    color: var(--action-button-icon-hover);
}

.action-button.confirm:disabled:hover .icon-color {
    color: var(--action-button-icon-disabled);
}

.hidden {
    display: none;
}

.move-row {
    display: flex;
    color: var(--move-row-text);
}

.move-row > div {
    width: 50%;
}

.even-move-row {
    background-color: var(--even-move-row-background);
}

.move-button {
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: var(--move-button-text);
    text-align: left;
}

.move-button:focus {
    outline: none;
}

.move-button:hover {
    background-color: var(--move-button-background-hover);
}

.move-button:disabled {
    background-color: var(--move-button-disabled-background);
    cursor: pointer;
}