
:root {
    --title-text: #e4a03a;
    /* Base Overlay */
    --body-text: white;
    --body-background: #1e2f2b;
    --block-text: white;
    --block-background: #121e20;
    --form-control-text: white;
    --form-control-background: #090e0f;
    --modal-content-background: #2f3133;
    --model-header-border: #737373;
    --close-text: white;
    --close-shadow: black;
    --homebutton-decision: #F84E4E;
    --homebutton-chess: white;
    --homeblock-hover: #ecac22;
    --homeblock-a: #F84E4E;
    --homeblock-header-background: #1e2f2b;
    --sidenav-background: #00110f;
    --sidenav-element: #818181;
    --sidenav-element-hover: #f1f1f1;
    --sidenav-new-game-hover: #465cda;
    --notification-background: #00110f;
    --nav-button-background-selected: #8d2828;
    --profile-dropdown-selected: #00201d;
    --profile-dropdown-hover-text: #f1f1f1;
    --profile-content-a-text: white;
    --profile-content-a-hover-background: #183e3a;
    --footer-text: white;
    --footer-background: #141e19;
    --footer-a-text: white;
    --footer-a-hover-text: #F84E4E;
    /* Home */
    --new-game-text: #e8e6e6;
    --new-game-background: #00110f;
    --new-game-text-hover: #7685d8;
    --new-game-background-hover: #34383c;
    --icon-primary: white;
    --quick-pair-outline: white;
    --quick-pair-text: white;
    --quick-pair-background: #2f3133;
    --quick-pair-text-hover: #f2a708;
    --quick-pair-background-hover: #917843;
    --quick-pair-content: rgb(72, 72, 80);
    --lobby-text: white;
    --lobby-background: #2f3133;
    --lobby-outline: white;
    --lobby-header-background: #2f3133;
    --lobby-row-border: #778498;
    --lobby-row-text: white;
    --lobby-row-hover-text: rgb(206, 206, 206);
    --lobby-row-hover-background: rgba(151, 128, 83, 0.7);
    --lobby-row-disabled-text: rgba(91, 91, 91, 0.8);
    --lobby-row-disabled-background: rgba(30, 30, 30, 0.7);
    --lobby-row-disabled-hover-text: rgba(91, 91, 91, 0.8);
    --lobby-row-disabled-hover-background: rgba(45, 8, 8, 0.7);
    --lobby-row-empty-text: white;
    --lobby-row-empty-background: rgba(32, 32, 32, 0.7);
    --highlights-text: white;
    --highlights-background: #2f3133;
    --highlights-outline: white;
    --highlights-focus-outline: white;
    --highlights-hover-text: #f2a708;
    --highlights-hover-background: #917843;
    --donate-highlight: rgb(248, 155, 155);
    --home-body-1: #000000;
    --home-body-2: #113027;
    --home-body-3: rgb(13, 13, 41);
    --home-body-4: #251f08;
    /* News */
    --news-title-text: #F84E4E;
    --blog-titles: #e4a03a;
    /* Lessons */
    --lesson-hover-text: #ecac22;
    --lesson-hover: #e4a03a;
    --basic-header: #436c73;
    --basic-lesson-background: #2f484d;
    --standard-header: #3b6a5a;
    --standard-lesson-background: #2e4f44;
    --decision-header: #F84E4E;
    --decision-lesson-background: brown;
    --lesson-info-background: #2f484d;
    --lesson-scrollbar-thumb: #436c73;
    /* Play */
    --chat-box-text: #b9b9b9;
    --chat-box-background: #405860;
    --chat-box-log: #35484f;
    --chat-input-border: #1e4d27;
    --chat-input-text: #b9b9b9;
    --chat-input-background: #3b5057;
    --chat-input-placeholder: #bfbfbf;
    --chat-input-focus-border: #538a5d;
    --chat-input-focus-text: #b9b9b9;
    --chat-input-focus-background: #33464d;
    --chat-input-disabled: #33464d;
    --command-center-background: #121e20;
    --control-section-text: #233336;
    --action-button: white;
    --action-button-waiting-text: #4d4d4d;
    --action-button-waiting-background: #c7c7c7;
    --action-button-icon-hover: #fff6e0;
    --action-button-icon-disabled: #727272;
    --move-row-text: white;
    --even-move-row-background: rgb(66, 66, 66);
    --move-button-text: white;
    --move-button-background-hover: #2589da;
    --move-button-disabled-background: #17568a;
    --displayed-move-background: rgb(117, 117, 117);
    --displayed-move-border: rgb(179, 179, 179);
    --clock-background: #405860;
    --clock-border: #8e8e8e;
    /* Live */
    --headerFocused: #756026;
    /* Board Editor */
    --enpassant-disabled: #323232;
    /* Profile */
    --bio-border: rgb(76, 76, 76);
    --bio-background: #090e0f;
    --category-background: #355055;
    --history-background-1: #2a3f42;
    --history-background-2: #0c1011;
    /* Inbox */
    --inbox-list-background: #253a3e;
    --inbox-list-hover: #486368;
    --inbox-header: #0d1516;
    --search-input-background: rgb(0, 0, 0);
    --search-input-placeholder: #bfbfbf;
    --left-column-scrollbar-track-background: #1f3034;
    /* Challenge */
    --challenge-chat-box-text: white;
    --challenge-chat-box-background: rgb(95, 31, 31);
    --challenge-chat-box-log: rgb(187, 86, 86);
    --challenge-chat-input-text: rgb(210, 210, 210);
    --challenge-chat-input-background: rgb(170, 47, 47);
    --challenge-chat-input-placeholder: #c3c3c3;
    --challenge-chat-input-focus-text: white;
    --challenge-chat-input-focus-background: rgb(186, 73, 73);
    --challenge-chat-input-disabled: rgb(105, 67, 67);
    /* Settings */
    --settings-side-nav-a-text: #5c67a3;
    --settings-side-nav-a-text-hover: #e4a03a;
    /* Change Themes Page */
    --theme-row-text: rgb(207, 207, 207);
    --theme-row-selected-text: #e4a03a;
    --theme-row-hover: #6d777a;
    /*     
    --theme-row-title-primary: rgb(80, 180, 87);
    --theme-row-title-invalid: #e45c3a;
     */
    /* Close Account Page */
    --warning-text: rgb(255, 156, 156);
    /* Registration Pages */
}
