{% extends "main/base.html" %}

{% load static %}

{% block title %}
Play
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/play.css' %}">
<script>
    var webGameMetadata = {};
    sessionStorage.setItem('web_game_metadata', JSON.stringify(webGameMetadata));
</script>
{% endblock %}

{% block content %}
<div id="content" name="content" class="content">
    <div class="row justify-content-center" style="max-width: 100%; margin: auto;">
        <!-- Embedded Game -->
        <div class="col-10 col-md-7" style="padding-right: 0px;">
            <div id="topUserMetadata" class="d-flex" style="width: 100%;">
                <div class="d-flex" style="width: 50%; flex-wrap: wrap;">
                    <div class="mb-1 invisible" style="height: 25px; width: 50%;">
                    </div>
                    <div class="d-flex justify-content-end" style="width: 50%; min-height: 25px;">
                    </div>
                    <div class="d-flex" style="width: 100%;">
                        <div class="d-flex flex-wrap mt-auto" id="topPieces" style="min-width: 1px; height: 25px;"></div>
                    </div>
                </div>
                <div class="d-flex flex-row user-header" style="flex-wrap: wrap; width: 50%;">
                    <div class="d-flex" style="width: 100%;">
                        <div id="topPlayer" class="userblock">
                            {% if computer_game %}
                                {{ opponent }}
                            {% else %}
                                {% if user.is_authenticated %}
                                    {{ user.username }}
                                {% else %}
                                    Anonymous
                                {% endif %}
                            {% endif %}
                        </div>
                        <div id='opponentIndicator' class="hidden indicator">Their Turn</div>
                    </div>
                    <div class="user-rating">{{ opponent_rank }}</div>
                </div>
            </div>
            <div id="iframe-container">
                <iframe id="embedded-iframe" src="{% if computer_game %}{% static 'main/html/minimax.html' %}{% else %}{% static 'main/html/solo.html' %}{% endif %}" frameborder=0 scrolling="no" sandbox="allow-same-origin allow-scripts"></iframe>
            </div>
            <div id="bottomUserMetadata" class="d-flex mb-1" style="width: 100%;">
                <div class="d-flex" style="width: 50%; flex-wrap: wrap;">
                    <div class="mb-1 invisible" style="height: 25px; width: 50%;">
                    </div>
                    <div class="d-flex justify-content-end" style="width: 50%; min-height: 25px;">
                    </div>
                    <div class="d-flex" style="width: 100%;">
                        <div class="d-flex flex-wrap mb-auto" id="bottomPieces" style="min-width: 1px; height: 25px;"></div>
                    </div>
                </div>
                <div class="d-flex flex-row user-header" style="flex-wrap: wrap; width: 50%;">
                    <div class="d-flex" style="width: 100%">
                        <div id="bottomPlayer" class="userblock">{% if user.is_authenticated %}{{ user.username }}{% else %}Anonymous{% endif %}</div>
                        <div id='playerIndicator' class="hidden indicator">Your Turn</div>
                    </div>
                    <div class="user-rating align-self-center">{{ player_rank }}</div>
                </div>
            </div>
        </div>
        <!-- 4 columns for command center-->
        <div class="col-10 col-md-4 d-flex flex-column justify-content-center align-items-start command-column" style="margin-left: 30px; padding-left: 0px; padding-right: 0px;">
            <div id="command-center" class="command-center d-flex flex-column justify-content-start align-items-center" style="min-width: 100%;">
                <div class="d-flex justify-content-end" style="height: 60%; width: 100%">
                    <div id="moves-list" class="scrollable-moves-list mt-auto">
                        <!-- Content will be dynamically added here -->
                    </div>
                </div>
                <div id="final-score" class="text-white font-weight-bold text-lg"></div>
                <div id="end-message" class="text-white"></div>
                <div class="d-flex justify-content-center align-items-center mb-auto" style="height: fit-content; background-color: var(--control-section-text); min-width: 100%;"> <!-- fix height -->
                    <button id="skipBackwardButton" post-game="true" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-backward-step icon-color"></i>
                    </button>
                    <button id="backwardButton" post-game="true" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-play fa-rotate-180 icon-color"></i>
                    </button>
                    <button id="forwardButton" post-game="true" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-play icon-color"></i>
                    </button>
                    <button id="skipForwardButton" post-game="true" class="action-button confirm hidden">
                        <i class="fa-solid fa-forward-step icon-color"></i>
                    </button>
                </div>
                {% if computer_game %}
                <div class="d-flex justify-content-center">
                    <button id="rematchButton" post-game=true class="action-button confirm hidden">Rematch</button>
                    <button id="rematchAcceptButton" post-game=true class="action-button confirm check hidden mr-2">Accept Rematch</button>
                    <button id="rematchDenyButton" post-game=true class="action-button cancel check hidden">Decline Rematch</button>
                </div>
                {% endif %}
                <div class="d-flex justify-content-center">
                    <button id="undoOfferButton" actions="true" class="action-button confirm hidden mr-2">Undo</button>
                    <button id="undoOfferConfirmButton" followup="true" class="action-button confirm check hidden mr-2">Confirm ✓</button>
                    <button id="undoOfferCancelButton" followup="true" class="action-button cancel check hidden mr-2">✘</button>

                    <button id="resignButton" actions="true" class="action-button confirm hidden mr-2">Resign</button>
                    <button id="resignConfirmButton" followup="true" class="action-button confirm check hidden mr-2">Confirm ✓</button>
                    <button id="resignCancelButton" followup="true" class="action-button cancel check hidden mr-2">✘</button>

                    <button id="cycleThemeButton" class="action-button confirm hidden mr-2">Cycle Theme</button>
                    <button id="flipButton" class="action-button confirm hidden">Flip</button>
                </div>
            </div>
            <div id="chat-box" class="card chat-box" style="height: auto;">
                <div class="card-body d-flex flex-column justify-content-end" style="padding: 0;">
                    <div class="chat-wrapper mb-auto">
                        <div class="chat-messages">
                            {% for message in chat_messages.all %}
                                <p>{{ message.sender_username|safe }}: {{ message.message|safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control chat-input" placeholder="Type a message and press Enter..." id="chat-input" disabled>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var game_uuid = "{{ game_uuid }}";
            var sender = "{% if user.is_authenticated %}{{ user.username }}{% else %}Anonymous{% endif %}";
            sessionStorage.setItem('connected', "{{ connected }}");
            sessionStorage.setItem('current_game_id', "{{ current_game_id }}");
            sessionStorage.setItem('initialized', "{{ initialized }}");
            sessionStorage.setItem('promoting', 'false');
            var csrftoken = "{{ csrf_token|escapejs }}";
            sessionStorage.setItem('csrftoken', csrftoken);
            sessionStorage.setItem('muted', 'false');
            const pawnsrc = "{% static 'main/images/material/pawn_grayscale.svg' %}";
            const bishopsrc = "{% static 'main/images/material/bishop_grayscale.svg' %}";
            const knightsrc = "{% static 'main/images/material/knight_grayscale.svg' %}";
            const rooksrc = "{% static 'main/images/material/rook_grayscale.svg' %}";
            const queensrc = "{% static 'main/images/material/queen_grayscale.svg' %}";
            const faviconImages = [
                "{% static 'images/decision-favicon-depth.svg' %}",
                "{% static 'images/decision-favicon-depth-alternate.svg' %}",
            ];
            const computerGame = "{% if not computer_game %}false{% else %}true{% endif %}";
        </script>
        <script src="{% static 'main/js/computer.js' %}"></script>                
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}