{% extends "main/base.html" %}

{% load static %}

{% block title %}
Play
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/play.css' %}">
<script>
    var webGameMetadata = {};
    sessionStorage.setItem('web_game_metadata', JSON.stringify(webGameMetadata));
</script>
{% endblock %}

{% block content %}
<div id="content" name="content" class="content">
    <div class="row justify-content-center" style="max-width: 100%; margin: auto;">
        <!-- Embedded game -->
        <div class="col-10 col-md-7" style="padding-right: 0px;">
            <div id="topUserMetadata" class="d-flex" style="width: 100%;">
                <div class="d-flex" style="width: 50%; flex-wrap: wrap;">
                    <div class="mb-1" style="width: 50%;">
                        <div class="hidden" id="topClock" name="initClockHidden">
                            <div class="opponent-clock" id="opponentClock"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end" style="width: 50%; min-height: 25px;">
                        <div class="d-flex align-items-center" style="height: 40px;">
                            <div class="displayed-move hidden" id="displayed-move-top"></div>
                            <div class="circle hidden ml-1" id="top-undo-3"></div>
                            <div class="circle hidden ml-1" id="top-undo-2"></div>
                            <div class="circle hidden ml-1 mr-1" id="top-undo-1"></div>
                        </div>
                    </div>
                    <div class="d-flex" style="width: 100%;">
                        <div class="d-flex flex-wrap mt-auto" id="topPieces" style="min-width: 1px; height: 25px;"></div>
                    </div>
                </div>
                <div class="d-flex flex-row user-header" style="flex-wrap: wrap; width: 50%;">
                    <div class="d-flex" style="width: 100%;">
                        <div id="topPlayer" class="userblock">{{ opponent }}</div>
                        <div id='opponentIndicator' class="hidden indicator">Their Turn</div>
                    </div>
                    <div class="user-rating">{{ opponent_rank }}</div>
                </div>
            </div>
            <div id="iframe-container">
                <iframe id="embedded-iframe" src="{% static 'main/html/basic.html' %}" frameborder=0 scrolling="no" sandbox="allow-same-origin allow-scripts"></iframe>
            </div>
            <div id="bottomUserMetadata" class="d-flex mb-1" style="width: 100%;">
                <div class="d-flex" style="width: 50%; flex-wrap: wrap;">
                    <div class="mb-1" style="width: 50%;">
                        <div class="hidden" id="bottomClock" name="initClockHidden" style="margin-top: -50px;">
                            <div class="player-clock" id="playerClock"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end" style="width: 50%; min-height: 25px;">
                        <div class="d-flex align-items-center" style="height: 40px;">
                            <div class="displayed-move hidden" id="displayed-move-bottom"></div>
                            <div class="circle hidden ml-1" id="bottom-undo-3"></div>
                            <div class="circle hidden ml-1" id="bottom-undo-2"></div>
                            <div class="circle hidden ml-1 mr-1" id="bottom-undo-1"></div>
                        </div>
                    </div>
                    <div class="d-flex" style="width: 100%;">
                        <div class="d-flex flex-wrap mb-auto" id="bottomPieces" style="min-width: 1px; height: 25px;"></div>
                    </div>
                </div>
                <div class="d-flex flex-row user-header" style="flex-wrap: wrap; width: 50%;">
                    <div class="d-flex" style="width: 100%">
                        <div id="bottomPlayer" class="userblock">{% if user.is_authenticated %}{{ user.username }}{% else %}Anonymous{% endif %}</div>
                        <div id='playerIndicator' class="hidden indicator">Your Turn</div>
                    </div>
                    <div class="user-rating align-self-center">{{ player_rank }}</div>
                    <div class="d-flex justify-content-end" style="width: 50%;">
                        <div class="decision-timer hidden" id="decision-timer"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4 columns for command center-->
        <div class="col-10 col-md-4 d-flex flex-column justify-content-center align-items-start command-column" style="margin-left: 30px; padding-left: 0px; padding-right: 0px;">
            <div id="command-center" class="command-center d-flex flex-column justify-content-start align-items-center" style="min-width: 100%;">
                <div class="d-flex justify-content-end" style="height: 60%; width: 100%">
                    <div id="moves-list" class="scrollable-moves-list mt-auto">
                        <!-- Content will be dynamically added here -->
                    </div>
                </div>
                <div id="final-score" class="text-white font-weight-bold text-lg"></div>
                <div id="end-message" class="text-white"></div>
                <div class="d-flex justify-content-center align-items-center mb-auto" style="background-color: var(--control-section-text); min-width: 100%;"> <!-- fix height -->
                    <button id="skipBackwardButton" post-game="true" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-backward-step icon-color"></i>
                    </button>
                    <button id="backwardButton" post-game="true" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-play fa-rotate-180 icon-color"></i>
                    </button>
                    <button id="forwardButton" post-game="true" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-play icon-color"></i>
                    </button>
                    <button id="skipForwardButton" post-game="true" class="action-button confirm hidden">
                        <i class="fa-solid fa-forward-step icon-color"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="readyButton" actions="true" class="action-button confirm hidden mr-2" style="font-size: 1.5rem;">Ready</button>
                    <button id="redoButton" actions="true" class="action-button confirm hidden mr-2" style="font-size: 1.5rem;">Reset</button>
                    <button id="toggleShareArrows" actions="true" class="share-arrows hidden">{{ relay_svg|safe }}</button>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="rematchButton" post-game=true class="action-button confirm hidden">Rematch</button>
                    <button id="rematchAcceptButton" post-game=true class="action-button confirm check hidden mr-2">Accept Rematch</button>
                    <button id="rematchDenyButton" post-game=true class="action-button cancel check hidden">Decline Rematch</button>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="undoOfferButton" actions="true" class="action-button confirm hidden mr-2">Undo</button>
                    <button id="undoOfferConfirmButton" followup="true" class="action-button confirm check hidden mr-2">Confirm ✓</button>
                    <button id="undoOfferCancelButton" followup="true" class="action-button cancel check hidden mr-2">✘</button>
                    <button id="undoAcceptButton" followup="true" class="action-button confirm check hidden mr-2">Accept Undo?</button>
                    <button id="undoDenyButton" followup="true" class="action-button cancel check hidden mr-2">✘</button>

                    <button id="resignButton" actions="true" class="action-button confirm hidden mr-2">Resign</button>
                    <button id="resignConfirmButton" followup="true" class="action-button confirm check hidden mr-2">Confirm ✓</button>
                    <button id="resignCancelButton" followup="true" class="action-button cancel check hidden mr-2">✘</button>

                    <button id="drawOfferButton" actions="true" class="action-button confirm hidden mr-2">Draw</button>
                    <button id="drawOfferConfirmButton" followup="true" class="action-button confirm check hidden mr-2">Confirm ✓</button>
                    <button id="drawOfferCancelButton" followup="true" class="action-button cancel check hidden mr-2">✘</button>
                    <button id="drawAcceptButton" followup="true" class="action-button confirm check hidden mr-2">Accept Draw?</button>
                    <button id="drawDenyButton" followup="true" class="action-button cancel check hidden mr-2">✘</button>

                    <button id="cycleThemeButton" class="action-button confirm hidden mr-2">Cycle Theme</button>
                    <button id="flipButton" class="action-button confirm hidden">Flip</button>
                </div>
            </div>
            <div id="chat-box" class="card chat-box" style="height: auto;">
                <div class="card-body d-flex flex-column justify-content-end" style="padding: 0; height: 100%;">
                    <div class="chat-header">
                        <button class="report-chat" data-toggle="modal" data-target="#reportChat"><i class="fa-solid fa-triangle-exclamation" style="color: var(--homebutton-decision)"></i></button>
                    </div>
                    <div class="chat-wrapper mb-auto">
                        <div class="chat-messages">
                            {% for message in chat_messages.all %}
                                <p>{{ message.sender_username|safe }}: {{ message.message|safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control chat-input" placeholder="Type a message and press Enter..." id="chat-input" disabled>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="reportChat" tabindex="-1" role="dialog" aria-labelledby="reportChatLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header d-flex justify-content-between align-items-center" style="position: relative;">
                          <h5 class="modal-title text-center w-100" id="reportChatLabel" style="flex: 1;">Report Chat?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal" style="position: absolute; right: 15px; top: 15px;">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body d-flex justify-content-center">
                        <button class="btn btn-success mr-2" id="reportButton">Report</button>
                        <button class="btn btn-danger" data-dismiss="modal">No</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var game_uuid = "{{ game_uuid }}";
            var sender = "{% if user.is_authenticated %}{{ user.username }}{% else %}Anonymous{% endif %}";
            var opponent = "{{ opponent }}";
            sessionStorage.setItem('connected', "{{ connected }}");
            sessionStorage.setItem('current_game_id', "{{ current_game_id }}");
            sessionStorage.setItem('initialized', "{{ initialized }}");
            sessionStorage.setItem('draw_request', "{{ draw_request }}");
            sessionStorage.setItem('undo_request', "{{ undo_request }}");
            sessionStorage.setItem('total_reset', "{{ total_reset }}");
            sessionStorage.setItem('promoting', 'false');
            sessionStorage.setItem('toggle-arrows', 'false');
            var csrftoken = "{{ csrf_token|escapejs }}";
            sessionStorage.setItem('csrftoken', csrftoken);
            sessionStorage.setItem('muted', "false");
            sessionStorage.removeItem('white_time');
            sessionStorage.removeItem('black_time');
            sessionStorage.removeItem('duplicate');
            const pawnsrc = "{% static 'main/images/material/pawn_grayscale.svg' %}";
            const bishopsrc = "{% static 'main/images/material/bishop_grayscale.svg' %}";
            const knightsrc = "{% static 'main/images/material/knight_grayscale.svg' %}";
            const rooksrc = "{% static 'main/images/material/rook_grayscale.svg' %}";
            const queensrc = "{% static 'main/images/material/queen_grayscale.svg' %}";
            const faviconImages = [
                "{% static 'images/decision-favicon-depth.svg' %}",
                "{% static 'images/decision-favicon-depth-alternate.svg' %}",
            ];
        </script>
        <script src="{% static 'main/js/play-decision.js' %}"></script>                
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}