{% extends "main/base.html" %}

{% load static %}

{% block title %}
Play
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/play.css' %}">
<script>
    var existingWebGameMetadata = sessionStorage.getItem('web_game_metadata');
    if (existingWebGameMetadata == null || !existingWebGameMetadata.hasOwnProperty(current_game_id)) {
        var current_game_id = "{{ current_game_id }}";
        var comp_str = "{{ comp_moves }}";
        const subgroups = comp_str.split('-');
        var comp_moves = subgroups.map(subgroup => subgroup.split(','));
        var move_index = comp_moves.length - 1;
        var alg_str = "{{ alg_moves }}";
        const alg_moves = alg_str.split(',')
        var existingWebGameMetadata = (existingWebGameMetadata !== null ? JSON.parse(existingWebGameMetadata) : {})
        existingWebGameMetadata[current_game_id] = {
            "end_state": "{{ outcome }}",
            "forced_end": "{{ forced_end }}",
            "alg_moves": alg_moves,
            "comp_moves": comp_moves,
            "FEN_final_pos": "{{ FEN }}",
            "net_pieces": {"p": 0, "r": 0, "n": 0, "b": 0, "q": 0},
            "step": {
                "index": null,
                "execute": false,
                "update_executed": false
            },      
            "cycle_theme": {
                "execute": false,
                "update_executed": false
            },
            "flip_board": {
                "execute": false,
                "update_executed": false
            },
            "console_messages": []
        }
        sessionStorage.setItem('web_game_metadata', JSON.stringify(existingWebGameMetadata));
    }
</script>
{% endblock %}

{% block content %}
<div id="content" name="content" class="content">
    <div class="row justify-content-center" style="max-width: 100%; margin: auto;">
        <!-- Given side bar maybe columns should instead be 2 5 4  and side bar width is a column width-->
        <!-- 2 columns for chat and notes -->
        <div class="col-2 d-none d-md-block" style="width: 100%;">
            <div id="chat-box" class="card chat-box">
                <div class="card-body d-flex flex-column justify-content-end mh-100" style="padding: 0;">
                    <div class="chat-wrapper mb-auto">
                        <div class="chat-messages">
                            {% for message in chat_messages.all %}
                                <p>{{ message.sender_username|safe }}: {{ message.message|safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Embedded Game -->
        <div class="col-10 col-md-5" style="padding-right: 0px;">
            <div id="iframe-container">
                <iframe id="embedded-iframe" src="{% static 'main/html/historic_game.html' %}" frameborder=0 scrolling="no" sandbox="allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
        <!-- 4 columns for command center-->
        <div class="col-10 col-md-4 d-flex flex-column justify-content-center align-items-start command-column" style="margin-left: 30px; padding-left: 0px; padding-right: 0px;">
            <div class="d-flex flex-wrap mt-auto" id="topPieces" style="height: 25px;"></div>
            <div id="command-center" class="command-center d-flex flex-column justify-content-start align-items-center" style="min-width: 100%;">
                <div class="d-flex flex-row" style="max-height: 10%; min-width: 100%;">
                    <div id="topPlayer" class="userblock">{{ opponent }}</div>
                </div>
                <div class="d-flex justify-content-end" style="height: 40%; width: 100%">
                    <div id="moves-list" class="scrollable-moves-list mt-auto">
                        <!-- Content will be dynamically added here -->
                    </div>
                </div>
                <div id="final-score" class="text-white font-weight-bold text-lg"></div>
                <div id="end-message" class="text-white"></div>
                <div class="d-flex justify-content-center align-items-center mb-auto" style="background-color: var(--control-section-text); min-width: 100%;">
                    <button id="skipBackwardButton" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-backward-step icon-color"></i>
                    </button>
                    <button id="backwardButton" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-play fa-rotate-180 icon-color"></i>
                    </button>
                    <button id="forwardButton" class="action-button confirm hidden mr-2">
                        <i class="fa-solid fa-play icon-color"></i>
                    </button>
                    <button id="skipForwardButton" class="action-button confirm hidden">
                        <i class="fa-solid fa-forward-step icon-color"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="cycleThemeButton" class="action-button confirm hidden mr-2">Cycle Theme</button>
                    <button id="flipButton" class="action-button confirm hidden">Flip</button>
                </div>
                <div class="d-flex flex-row" style="max-height: 10%; min-width: 100%;">
                    <div id="bottomPlayer" class="userblock">{{ player }}</div>
                </div>
            </div>
            <div class="d-flex flex-wrap mb-auto" id="bottomPieces" style="height: 25px;"></div>
        </div>
        <div class="col-10 d-block d-md-none" style="width: 100%; margin-left: 15px;">
            <div id="chat-box-mobile" class="card chat-box">
                <div class="card-body d-flex flex-column justify-content-end mh-100" style="padding: 0;">
                    <div class="chat-wrapper mb-auto">
                        <div class="chat-messages">
                            {% for message in chat_messages.all %}
                            <p>{{ message.sender_username|safe }}: {{ message.message|safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100" style="text-align: end; position: absolute; top: 0;">Click the board to enable sounds</div>
        <script>
            sessionStorage.setItem('current_game_id', "{{ current_game_id }}");
            sessionStorage.setItem('initialized', "{{ initialized }}");
            var csrftoken = "{{ csrf_token|escapejs }}";
            sessionStorage.setItem('muted', "false");
            const pawnsrc = "{% static 'main/images/material/pawn_grayscale.svg' %}";
            const bishopsrc = "{% static 'main/images/material/bishop_grayscale.svg' %}";
            const knightsrc = "{% static 'main/images/material/knight_grayscale.svg' %}";
            const rooksrc = "{% static 'main/images/material/rook_grayscale.svg' %}";
            const queensrc = "{% static 'main/images/material/queen_grayscale.svg' %}";
            sessionStorage.setItem('init_flip', "{% if init_flip %}true{% else %}false{% endif %}");
        </script>
        <script src="{% static 'main/js/historic.js' %}"></script>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}